.home{
    background-image: url(images/background-copy.png);
    object-fit: contain;
    height:767px;
    background-color: none;
    background-repeat: no-repeat;
    //background-attachment: fixed;
    background-position:center center;
}
.navbar-btn{
    background:transparent;
    color:white;
    text-align: center;
    margin-top: 12px;
    border-radius: 10px;
    border-color: white;
    padding-right: 10px;
   position:auto;

}
.card{
    text-align:center;
}
.image-1{
    padding-top: 192px;
    height: 480px;
    width:0px;
    } 

@media screen and (min-width:0px) and (max-width: 400px){
.image-1{
    height: 456px;
    width: 451px;
    position: relative;
    left: -46px;
    }
    }
@media screen and (min-width:401px) and (max-width: 1350px){
 .image-1{
    padding-top: 192px;
    height: 480px;
    width:552px;
    } 
    
}
.we{
    text-align: center;
    font-size: 48px;
    font-weight:100;
    color: #ffffff;
    padding-top: 208px;
}
.the-smart{
    font-size: 16px;
  text-align: center;
  color: #ffffff;
}
.btn-cls{
    width: 200px;
  height: 40px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.3);
    font-size: 14px;
    color:#45b3e0;
}
.home-text{
    text-align: center;
}
.get{
    font-size:16px;
  text-align: center;
  color: #45b3e0;
}
.introduction {

  height: auto;
  background-color: #ffffff;
}
.features{
  height: auto;
  background-color: #f9f9f9;
}
.other-features{
  height:auto;
  background-color: #ffffff;
}
.cta{
    height:auto;width:auto;
  background-image: linear-gradient(107deg, #47b2e9, #3fb7b9);
  border: solid 1px #979797;
}
.blog{
    height:auto;
  background-color: #f9f9f9;
    width: auto;
}
.rectangle-4{
width: auto;
  height:auto;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
}
.butn-cls{
     background-color: white;
    width: 200px;
  height: 40px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.3);
    font-size: 14px;
    color:#45b3e0;
    border-color: #47b3e8;
}
.footer{
     height: 384px;
  background-color: #ffffff;
}
.footer-features{
    font-size: 18px;
  line-height: 1.56;
  text-align: left;
  color: #999999;
}
.aira2{
  width: 55px;
  height: 35px;
  object-fit: contain;
  background-image: linear-gradient(to bottom, #47b3e8, #3fb7b9);
  font-family: TypoRoundDemo;
  font-size: 30px;
  text-align: left;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.aira-textstyle{
    -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to bottom, #47b3e8, #3fb7b9);
    }
